body{
    width: 100%;
    height: 100%;
}
body,
ul {
  margin: 0px;
  padding: 0px;
}

a {
  color: black;
  text-decoration: none;
  font-family: sans-serif;
}

a:hover {
  background: rgba(0, 0, 0, 0.05);
}

#header {
  box-sizing: border-box;
  height: 70px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #FFFFE0;
}

#menu {
  display: flex;
  list-style: none;
  gap: 0.5rem;
}

#menu a { color: black;
 display: block;
  padding: 0.5rem;
  text-decoration: none;
  font-family: sans-serif;
  }

#btn-mobile {
  display: none;
}

@media (max-width: 600px) {
  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0px;
    background: #FFFFE0;
    transition: 0.6s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
  }
  #nav.active #menu {
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
  }
  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  }
  #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
  }
  #hamburger {
    border-top: 2px solid;
    width: 20px;
  }
  #hamburger::after,
  #hamburger::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }
  #nav.active #hamburger {
    border-top-color: transparent;
  }
  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }
  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }
}


.lancamentos{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}
.card {
    margin: 10px;
}
.page-footer{
    position:absolute;
    background-color: rgb(250, 245, 245);
    width: 100%;
    height: 250px;    
    line-height: 10px;
   margin: 0px;
   padding: 0px;
   align-items:right;
   display: flex;
   justify-content: space-between;
   list-style: none;
   box-sizing: border-box;
  
}
.social-media{
background-color: rosybrown;
}
.botom{
  position: fixed;
  right: 23px;
  bottom: 23px;
  padding-top: 15px;
  margin-bottom: 0;
  z-index: 997;
  bottom: 45px;
  right: 24px;
 
}
@media(max-width:600px){
.body{
  display: block;
}
}
  

.header.sobrenos.depoimento.ondeestamos.rodape.columnleft{
    width: 100%;
    @media (min-width: 768px) {
        .header {
          width: 750px; } }
      @media (min-width: 992px) {
        .sobrenos {
          width: 970px; } }
      @media (min-width: 1200px) {
        .columnleft {
          width: 1170px; } }
      
      @media (min-width: 0px) and (max-width: 1100px) {
            .depoimento {
              width: 100%; 
            }
            .ondeestamos {
              display: flex;
              flex-direction: column;        
            }
          
      } 
      
}